@import "style.css";
@import "header.css";
@import "section-hero.css";
@import "section-featured.css";
@import "section-how.css";
@import "section-meals.css";
@import "section-testimonials.css";
@import "section-pricing.css";
@import "section-cta.css";
@import "footer.css";

@media (max-width: 1300px){
    .hero {
        max-width: 120rem;
    }

    .heading-primary{
        font-size: 4.4rem;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
}

